.w-1252{
    width: 1440px;
    margin: 0 auto;
    font-family: "Plus Jakarta Sans", sans-serif;
}
/*--------------------------------nav--------------------------------------*/
header nav{
    width: 1440px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 300px;
    padding: 0 95px;
    box-shadow:  4px 6px 13px rgba(214.62,214.62,214.62,0.25);
    background-color: #EFF0F3;
    position: fixed;
    top: 0;
    z-index: 1;
}
header nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 32px 0 30px 0;
}
header nav ul a{
    font-size: 18px;
    font-weight: 700;
    text-transform: capitalize;
}
.icon-wrapper{
    display: flex;
    align-items: center;
    gap: 10px;
}
.active-btn-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 213px;
    height: 44px;
    border-radius: 4px;
    background: #6246EA;
    color: white;
    padding: 10px 17px;
}
/*--------------------------------main(Hi-Dasteen)--------------------------------------*/
.first-section{
    padding: 271px 95px 263px 95px;
    display: flex;
    justify-content: space-between;
    background-color: #EFF0F3;
}
h1{
    text-transform: capitalize;
    width: 617px;
    font-size: 64px;
    font-weight: 700;
    line-height: 90px;
}
.hi-dasteen{
    display: flex;
    flex-direction: column;
}
.line-text-container p{
    width: 652px;
    font-size: 20px;
    color: #9A9494;
    font-weight: 400;
    padding: 30px 0;
}
.line-text-container{
    display: flex;
    gap: 12px;
}
.subscribe-btn{
    background: #6246EA;
    border-radius: 8px;
    width: 145px;
    height: 67px;
    color: #fff;
    font-weight: 700;
    font-size: 20px;
}
input[type="email"]{
    background-color: white;
    border-radius: 8px;
    width: 444px;
    height: 67px;
    margin-right: 20px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    border: none;
    font-weight: 400;
    font-size: 20px;
    transition: box-shadow 0.3s ease-in-out;
}
input[type="email"]:focus {
    box-shadow: 0 0 10px 4px rgba(160, 140, 255, 0.25);
    outline: none;
    transition: box-shadow 0.2s ease-in-out;
}
input[type="email"]::placeholder{
    color: #9A9494;
    font-weight: 400;
    font-size: 20px;
    opacity: 0.5;
}
/*--------------------------------main(category-section)--------------------------------------*/
.category-section{
    height: 500px;
    background-color: #EFF0F3;
    padding: 0 95px 0 95px;
}
.cards-header{
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    font-weight: 400;
    padding: 69px 0 55px 0;
}
.cards-header h5{
    font-size: 24px;
    font-weight: 700;
}
.cards-header a{
    font-size: 22px;
    font-weight: 700;
}
.cards-header-icon{
    display: flex;
    align-items: center;
    gap: 12px;
}
.category-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 37px;
}
.category-card{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 220px;
    height: 280px;
    box-shadow:  4px 6px 13px rgba(214.62,214.62,214.62,0.25);
    background-color: #FFFFFE;
    border-radius: 8px;
    font-weight: 700;
    font-size: 24px;
    gap: 25px;
    padding-left: 25px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.category-card:hover{
    background-color: #6246EA;
    color: #FFFFFE;
}
/*--------------------------------main(feature-section)--------------------------------------*/
.feature-section{
    background-color: #FFFFFE;
    padding: 0 95px 80px 95px;
}
.four-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.four-card{
    width: 300px;
    height: 425px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    /*gap: 80px;*/
}
.img-and-text img{
    padding-bottom: 25px;
}
.img-and-text a{
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
.avatar-and-text{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.time-and-name{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 4px;
    padding: 0 0 10px 15px;
    font-size: 14px;
    font-weight: 400;
}
.dot{
    font-size: 10px;
    font-weight: 400;
    padding: 0 10px 13px 10px;
}
.time{
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 10px;
}
/*--------------------------------main(css-section)--------------------------------------*/
.css-section{
    background-color: #FFFFFE;
    padding: 0 95px 80px 95px;
}
/*--------------------------------main(js-section)--------------------------------------*/
.js-section{
    background-color: #FFFFFE;
    padding: 0 95px 80px 95px;
}
/*--------------------------------main(react-js-section)--------------------------------------*/
.react-js-section{
    background-color: #FFFFFE;
    padding: 0 95px 80px 95px;
}
.Article-btn{
    display: flex;
    justify-content: center;
    margin-top: 80px;
}
.More-Article-btn{
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFE;
    border-radius: 8px;
    background: #6246EA;
    padding: 20px 23px 20px 23px;
}
/*--------------------------------main(subscription-section)--------------------------------------*/
.subscription-section{
    background-color: #EFF0F3;
    padding: 58px 372px;
}
.subscription{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.subscription h2{
    font-size: 36px;
    font-weight: 700;
    padding: 30px 0 10px 0;
}
.subscription p{
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 30px;
    color: #C0C0C0;
}
/*--------------------------------footer--------------------------------------*/
.footer-section{
    display: flex;
    gap: 160px;
    padding-bottom: 50px;
}
footer{
    background-color: #E4E5E9;
    padding: 70px 95px 26px 95px;
}
.socials{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    width: 284px;
}
.social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
footer h4{
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 25px;
}
footer a{
    font-size: 18px;
    font-weight: 400;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 95px;
}
.grid-nav{
    display: grid;
    gap: 20px;
}
.grid-nav ul li a{
    padding: 20px 0 20px 0;
}
footer hr{
    border: 1px solid #A6A6A6;
}
footer>p{
    font-size: 14px;
    font-weight: 400;
    padding-top: 26px;
}
